@import "mixins";

.brand-container {
  height: 8vh;

  .brand {
    @apply flex justify-center items-center;
    @apply mx-auto cursor-pointer p-3;

    img {
      height: 48px;
      width: 48px;
      margin-right: 0.5rem;
    }

    h1 {
      margin: 0 0;
      font-size: 24px;
      font-weight: 600;
    }

    &:focus {
      outline: none;
    }
  }
}
