/* Colors */
$backGround: #F0F2F5;
$borderGray: #2c3e50;
$darkGray: #2d3436;
$bluePrimary: #3498db;
$greenPrimary: #2ecc71;
$grayPrimary: #34495e;
$redPrimary: #e74c3c;
$silver: #bdc3c7;


/* Sizes */
$siderSize: 20vw;

/* Responsive BreakPoint */
$sm: 640px;
$md: 1280px;
$lg: 1536px;

/* Brand Logo */
$sizeLogo: 120px;
