<ng-template [ngIfElse]="showUpload" [ngIf]="!isShowUpload">
  <div class="prepare-upload">
    <label for="select-image">
      <img alt="" src="https://img.icons8.com/fluent/144/fa314a/add-image.png"/>
    </label>
    <input (change)="fileChangeEvent($event)" *ngIf="!isShowUpload"
           hidden
           id="select-image" type="file"/>
  </div>
</ng-template>
<ng-template #showUpload>

  <!--  Menu Cropper-->
  <div class="menu-crop-image">
    <div class="menu-child">
      <label for="input-file">
        <app-svg-icon [name]="'inputFile'" [height]="40" [width]="40"></app-svg-icon>
      </label>
      <input (change)="fileChangeEvent($event)" hidden id="input-file" type="file"/>
    </div>

    <div class="menu-child">
      <div class="child">
        <!--        Rotate Left-->
        <button (click)="rotateLeft()" class="btn">
          <app-svg-icon [name]="'rotateLeft'"></app-svg-icon>
        </button>
        <!--        Rotate Right-->
        <button (click)="rotateRight()" class="btn">
          <app-svg-icon [name]="'rotateRight'"></app-svg-icon>
        </button>
      </div>
      <div class="child">
        <!--        Flip Vertical-->
        <button (click)="flipVertical()" class="btn">
          <app-svg-icon [name]="'flipVer'"></app-svg-icon>
        </button>
        <!--        Flip Horizontal-->
        <button (click)="flipHorizontal()" class="btn">
          <app-svg-icon [name]="'flipHor'"></app-svg-icon>
        </button>
      </div>
    </div>

    <div class="menu-child">
      <div class="child">
        <button (click)="zoomOut()" class="btn">
          <app-svg-icon [name]="'zoomOut'"></app-svg-icon>
        </button>
        <button (click)="zoomIn()" class="btn">
          <app-svg-icon [name]="'zoomIn'"></app-svg-icon>
        </button>
      </div>
      <div class="child">
        <input class="border-2" (keyup)="updateRotation()" [(ngModel)]="rotation" placeholder="Rotation" type="number"/>
      </div>
    </div>

    <div class="menu-child">
      <div class="child">
        <button (click)="toggleContainWithinAspectRatio()"
                class="toggle">{{containWithinAspectRatio ? 'Fill Aspect Ratio' : 'Contain Within Aspect Ratio'}}</button>
      </div>
      <div class="child">
        <select class="border-2" [(ngModel)]="ratio" [disabled]="disableRatio" id="aspect-ratio-selection" name="aspect-ratio">
          <option [value]="1">1:1</option>
          <option [value]="4/3">4:3</option>
        </select>
        <button (click)="resetImage()">
          <app-svg-icon [name]="'reset'"></app-svg-icon>
        </button>
      </div>
    </div>


  </div>

  <!--  Cropper Container-->
  <div class="img-cropper-container">
    <image-cropper
      (cropperReady)="cropperReady($event)"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
      [alignImage]="'left'"
      [aspectRatio]="ratio"
      [canvasRotation]="canvasRotation"
      [containWithinAspectRatio]="containWithinAspectRatio"
      [cropperMinWidth]="128"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [onlyScaleDown]="true"
      [resizeToHeight]="1080"
      [roundCropper]="false"
      [style.display]="showCropper ? null : 'none'"
      [transform]="transform"
      format="jpeg"
    ></image-cropper>
    <button (click)="pushToListCroppedImage()" class="done-btn"><img
      alt="" src="https://img.icons8.com/material/48/4a90e2/checkmark--v1.png"/></button>
  </div>

  <div class="list-cropped-img">
    <div *ngFor="let imgDATA of listCroppedImage" class="card">
      <div class="actions">
        <button (click)="deleteThisImage(imgDATA)" class="btn"><app-svg-icon [name]="'delete'"></app-svg-icon></button>
        <button (click)="editThisImage(imgDATA)" class="btn"><app-svg-icon [name]="'edit'"></app-svg-icon></button>
      </div>
      <img [src]="imgDATA" alt="" class="cropped-img"/>
    </div>
  </div>
</ng-template>

