<div class="change-password-container">

  <!--  Basic Information-->
  <div class="owner-basic-information">
    <img [src]="curUser?.avatarUrl" alt="" class="avatar">
    <div class="username">{{ curUser?.username }}</div>
  </div>

  <!--  Form Change Password-->
  <form (ngSubmit)="onSubmit()" [formGroup]="pwForm" autocomplete="off" class="change-password-form">
    <div class="form-field">
      <label for="oldPW">Old Password</label>
      <div class="password-input-block">
        <div class="password-field">
          <input [type]="show.old ? 'text' : 'password'"
                 class="input-field" formControlName="oldPW"
                 id="oldPW" required>
          <div (click)="switchPassword(false)" class="show">{{ show.old ? 'Hide' : 'Show' }}</div>
        </div>
        <div
          *ngIf="pwForm.controls['oldPW'].invalid && (pwForm.controls['oldPW'].dirty || pwForm.controls['oldPW'].touched)"
          class="alert">
          <div *ngIf="pwForm.controls['oldPW'].errors?.required">
            Please enter your current password.
          </div>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="newPW">New Password</label>
      <div class="password-input-block">
        <div class="password-field">
          <input [type]="show.new ? 'text' : 'password'" class="input-field" formControlName="newPW"
                 id="newPW" required>
          <div (click)="switchPassword(true)" class="show">{{ show.new ? 'Hide' : 'Show' }}</div>
        </div>
        <div
          *ngIf="pwForm.controls['newPW'].invalid && (pwForm.controls['newPW'].dirty || pwForm.controls['newPW'].touched)"
          class="alert">
          <div *ngIf="pwForm.controls['newPW'].errors?.required">
            Please enter your current password.
          </div>
          <div *ngIf="pwForm.controls['newPW'].errors?.minlength">
            Password must be at least 8 characters!
          </div>
          <div *ngIf="pwForm.controls['newPW'].errors?.pattern">
            Please enter required uppercase, lowercase letters, numbers and special characters!
          </div>
        </div>
      </div>
    </div>

    <div class="form-field">
      <label for="confirmPW">Confirm new Password</label>
      <div class="password-input-block">
        <div class="password-field">
          <input [type]="show.new ? 'text' : 'password'" class="input-field" formControlName="confirmPW"
                 id="confirmPW" required>
          <div (click)="switchPassword(true)" class="show">{{ show.new ? 'Hide' : 'Show' }}</div>
        </div>
        <div
          *ngIf="pwForm.controls['confirmPW'].invalid && (pwForm.controls['confirmPW'].dirty || pwForm.controls['confirmPW'].touched)"
          class="alert">
          <div *ngIf="pwForm.controls['confirmPW'].errors?.required">
            Please confirm your new password.
          </div>
          <div *ngIf="pwForm.controls['confirmPW'].errors?.mustMatch">
            Passwords must match.
          </div>
        </div>
      </div>
    </div>

    <div class="action-block">
      <button class="btn" [disabled]="!pwForm.valid" type="submit">Submit</button>
    </div>
  </form>
</div>
