<div class="container">
  <!-- Navbar -->
  <div class="nav-bar">
    <!--      Brand Name-->
    <div class="brand">
      <img alt="" src="./assets/brand.svg"/>
      <div class="brand-name">{{ title }}</div>
    </div>

    <!--      Navigation-->
    <div class="menu-direction">
      <!-- Home -->
      <div class="btn btn-home" [routerLink]="['.']">
        <app-svg-icon [name]="'home'"></app-svg-icon>
      </div>

      <!-- Messenger -->
      <div class="btn btn-messenger" [routerLink]="['chat']">
        <app-svg-icon [name]="'messenger'"></app-svg-icon>
      </div>

      <!--        Notifications-->
      <div class="btn btn-notification" [routerLink]="['.']">
        <app-svg-icon [name]="'notification'"></app-svg-icon>
      </div>

      <!--        Profile-->
      <div class="profile-block" [matMenuTriggerFor]="menu" [routerLink]="['profile', curUser?.username]">
        <img alt="" class="avatar" src="{{ curUser?.avatarUrl }}">
      </div>

      <!--  Material Menu Dropdown-->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateProfile()">
          <img class="mr-4" src="https://img.icons8.com/material/24/000000/admin-settings-male.png" alt=""/>
          <span>Profile Setting</span>
        </button>
        <button class="logout-btn" (click)="logOut()" mat-menu-item>
          <mat-icon aria-hidden="false" aria-label="Logout icon">logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="sider">
    <router-outlet name="sider"></router-outlet>
  </div>
  <div [@enterAnimation] class="main">

    <!-- Router Outlet -->
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

