@import "mixins";

::ng-deep .reset-password-dialog .mat-dialog-container {
  padding: 0 0;
  @apply rounded-xl;
}

.reset-password-container {
  @include alignVertical;
  @apply h-full p-4;

  .title {
    @apply font-semibold text-lg my-2 tracking-wider;
  }

  .sub-text {
    @apply text-sm font-light my-2 tracking-wider text-center;
  }

  .input-field {
    @apply w-full my-2 p-2 rounded-lg border-0 bg-gray-200;
  }

  .input-field:focus {
    @apply bg-white border border-gray-500;
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
  }

  .btn-submit {
    @apply w-full py-2.5 my-2 rounded-lg text-white bg-green-500;
    @apply font-semibold tracking-wider text-base;
    @apply focus:outline-none;
    @include effectScale(1.05, .95);
  }

}
