@import "src/styles/mixins";

:host {

}

.carousel-container {
  height: auto;
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: #EDEDED;

  img {
    object-fit: cover;
    // zoom effect on hover
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;

    &:hover {
      transform: scale(1.025);
    }
  }

  .controls {
    width: 100%;
    padding: 0 10px;
    top: 50%;
    position: absolute;

    .control {
      opacity: 0.5;
      transition: all 0.5s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.25);
      }
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
