<div class="messages-list-container">

  <!--  Header of Conversation-->
  <div class="header">
    <div class="avatar-block" (click)="onClick()">
      <img alt="" class="avatar" src="{{ partner?.avatarUrl }}">
      <div class="status"></div>
    </div>
    <div class="name-block">
      <div class="name">{{ partner?.name }}</div>
      <div class="active">Active now</div>
    </div>

    <!--Options-->
    <div class="options">
      <button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <app-svg-icon [name]="'more'"></app-svg-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteConversation()">
          <mat-icon class="delete">delete</mat-icon>
          <span>Delete this conversation</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <!--  List messages in conversation-->
  <div class="main" id="main">
    <ng-container *ngFor="let message of messagesList">
      <div class="message-inline">
        <img *ngIf="message.senderId !== curUser._id"
             class="avatar"
             [matTooltipPosition]="'left'"
             matTooltip="{{ partner.name }}"
             src="{{ partner.avatarUrl }}" alt="">
        <div
          [ngClass]="[message.msg !== emoji ? 'content' : 'like', message.senderId === curUser._id ? 'me' : 'partner']"
          matTooltip="{{ message.Date | timeAgo }}"
          [matTooltipPosition]="'below'"
          [style]="message.senderId === curUser._id && message.msg !== emoji ? {'background': color} : {}">
          {{message.msg}}
        </div>
      </div>
    </ng-container>
  </div>

  <!--  Footer - new message and emoji-->
  <div class="footer">
    <div class="new-message-container">
      <div class="option-block" [@enterAnimation] *ngIf="!content">
        <button class="btn">
          <app-svg-icon [name]="'add-image'" [height]="24" [width]="24"></app-svg-icon>
        </button>
        <button class="btn">
          <app-svg-icon [name]="'stickers'" [height]="24" [width]="24"></app-svg-icon>
        </button>
      </div>
      <input (keyup.enter)="sendText()" [(ngModel)]="content" class="new-message-input" placeholder="Aa"
             type="text">
      <button class="btn-send">
        <app-svg-icon [name]="'like'" (click)="sendLike()" *ngIf="!content"></app-svg-icon>
        <app-svg-icon [name]="'send'" (click)="sendText()" *ngIf="!!content"></app-svg-icon>
      </button>
    </div>
  </div>
</div>
