<div class="sign-container">
  <div class="direct-option">
    <div class="sub-text">Already a member?</div>
    <div class="dir-signup" routerLink="../signin">Sign In Now</div>
  </div>

  <!--  Sign In block-->
  <div class="signup-block">
    <!--    Logo-->
    <div class="top-block">
      <img alt="" src="./assets/brand.svg">
      <div class="title-form">Sign In to {{ brand }}</div>
    </div>


    <form (ngSubmit)="submit()" [formGroup]="signUpForm" class="signup-form">

      <div style="display: flex">
        <div class="form-field form-field-mr-2">
          <label for="username">Username</label>
          <input class="input-field" formControlName="username" id="username" name="username" required type="text">
          <div
            *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || signUpForm.controls['username'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['username'].errors?.required">
              Username is required.
            </div>
            <div *ngIf="signUpForm.controls['username'].errors?.maxlength">
              Username must have max 20 characters.
            </div>
            <div *ngIf="signUpForm.controls['username'].errors?.pattern">
              Please enter unicode characters and at least 3 characters!
            </div>
          </div>
        </div>

        <div class="form-field form-field-ml-2">
          <label for="name">Name</label>
          <input class="input-field" formControlName="name" id="name" name="name" required type="text">
          <div
            *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['name'].errors?.required">
              Name is required.
            </div>
            <div *ngIf="signUpForm.controls['name'].errors?.maxlength">
              Username must have max 30 characters.
            </div>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input class="input-field" formControlName="email" id="email" name="email" required type="email">
        <div
          *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)"
          class="alert">
          <div *ngIf="signUpForm.controls['email'].errors?.required">
            Email is required.
          </div>
          <div *ngIf="signUpForm.controls['email'].errors?.email">
            Please enter a valid email.
          </div>
        </div>
      </div>


      <div style="display: flex">
        <div class="form-field form-field-mr-2">
          <label for="password">Password</label>
          <div class="password-field">
            <input [type]="passwordShow ? 'text' : 'password'" class="input-field" formControlName="password"
                   id="password" required>
            <div (click)="switchPassword()" class="show">{{ passwordShow ? 'Hide' : 'Show' }}</div>
          </div>
          <div
            *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['password'].errors?.required">
              Password is required.
            </div>
            <div *ngIf="signUpForm.controls['password'].errors?.minlength">
              Password must be at least 8 characters!
            </div>
            <div *ngIf="signUpForm.controls['password'].errors?.pattern">
              Please enter required uppercase, lowercase letters, numbers and special characters!
            </div>
          </div>
        </div>

        <div class="form-field form-field-ml-2">
          <label for="confirm">Confirm</label>
          <div class="password-field">
            <input [type]="passwordShow ? 'text' : 'password'" class="input-field" formControlName="confirm"
                   id="confirm" required>
            <div (click)="switchPassword()" class="show">{{ passwordShow ? 'Hide' : 'Show' }}</div>
          </div>
          <div
            *ngIf="signUpForm.controls['confirm'].invalid && (signUpForm.controls['confirm'].dirty || signUpForm.controls['confirm'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['confirm'].errors?.required">
              Please confirm your password.
            </div>
            <div *ngIf="signUpForm.controls['confirm'].errors?.mustMatch">
              Passwords must match.
            </div>
          </div>
        </div>
      </div>

      <!--      Actions Block-->
      <div class="actions-block">
        <button [disabled]="!signUpForm.valid" class="btn-submit" type="submit">Create a new account</button>
      </div>

    </form>
  </div>
</div>
