<div class="sign-container">
  <div class="direct-option">
    <div class="sub-text">Already a member?</div>
    <div class="dir-signup" routerLink="../signin">Sign In Now</div>
  </div>

  <!--  Sign In block-->
  <div class="signup-block">
    <!--    Logo-->
    <div class="top-block">
      <svg fill="none" height="100" viewBox="0 0 100 100" width="100" xmlns="http://www.w3.org/2000/svg">
        <mask height="100" id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" width="100" x="0" y="0">
          <circle cx="50" cy="50" fill="#C4C4C4" r="50"/>
        </mask>
        <g mask="url(#mask0)">
          <path
            d="M77.8117 99.9472L22.2855 100C10.0697 100.011 0.0666409 90.0275 0.0527593 77.8117L9.25571e-06 22.2855C-0.011096 10.0697 9.97252 0.0666409 22.1883 0.0527593L77.7145 9.25571e-06C89.9303 -0.011096 99.9334 9.97252 99.9472 22.1883L100 77.7145C100.014 89.9331 90.0275 99.9361 77.8117 99.9472Z"
            fill="url(#paint0_radial)"/>
          <path
            d="M77.8117 99.9472L22.2855 100C10.0697 100.011 0.0666409 90.0275 0.0527593 77.8117L9.25571e-06 22.2855C-0.011096 10.0697 9.97252 0.0666409 22.1883 0.0527593L77.7145 9.25571e-06C89.9303 -0.011096 99.9334 9.97252 99.9472 22.1883L100 77.7145C100.014 89.9331 90.0275 99.9361 77.8117 99.9472Z"
            fill="url(#paint1_radial)"/>
          <path
            d="M50 65C41.7307 65 35 58.2714 35 50C35 41.7286 41.7307 35 50 35C58.2693 35 65 41.7286 65 50C65 58.2714 58.2693 65 50 65ZM50 39.2857C44.0921 39.2857 39.2857 44.0921 39.2857 50C39.2857 55.9079 44.0921 60.7143 50 60.7143C55.9079 60.7143 60.7143 55.9079 60.7143 50C60.7143 44.0921 55.9079 39.2857 50 39.2857Z"
            fill="white"/>
          <path
            d="M66 37C67.6569 37 69 35.6569 69 34C69 32.3431 67.6569 31 66 31C64.3431 31 63 32.3431 63 34C63 35.6569 64.3431 37 66 37Z"
            fill="white"/>
          <path
            d="M62.9231 78H37.0769C28.7652 78 22 71.2369 22 62.9231V37.0769C22 28.7631 28.7652 22 37.0769 22H62.9231C71.2348 22 78 28.7631 78 37.0769V62.9231C78 71.2369 71.2348 78 62.9231 78ZM37.0769 26.3077C31.1388 26.3077 26.3077 31.1388 26.3077 37.0769V62.9231C26.3077 68.8612 31.1388 73.6923 37.0769 73.6923H62.9231C68.8612 73.6923 73.6923 68.8612 73.6923 62.9231V37.0769C73.6923 31.1388 68.8612 26.3077 62.9231 26.3077H37.0769Z"
            fill="white"/>
        </g>
        <defs>
          <radialGradient cx="0" cy="0" gradientTransform="translate(37.1748 100.072) scale(124.654)"
                          gradientUnits="userSpaceOnUse" id="paint0_radial"
                          r="1">
            <stop stop-color="#FFDD55" offset=""/>
            <stop offset="0.328" stop-color="#FF543F"/>
            <stop offset="0.348" stop-color="#FC5245"/>
            <stop offset="0.504" stop-color="#E64771"/>
            <stop offset="0.643" stop-color="#D53E91"/>
            <stop offset="0.761" stop-color="#CC39A4"/>
            <stop offset="0.841" stop-color="#C837AB"/>
          </radialGradient>
          <radialGradient cx="0" cy="0" gradientTransform="translate(16.0915 -1.24849) scale(82.7702 55.1498)"
                          gradientUnits="userSpaceOnUse" id="paint1_radial"
                          r="1">
            <stop stop-color="#4168C9" offset=""/>
            <stop offset="0.999" stop-color="#4168C9" stop-opacity="0"/>
          </radialGradient>
        </defs>
      </svg>
      <div class="title-form">Sign In to Social Network</div>
    </div>


    <form (ngSubmit)="submit()" [formGroup]="signUpForm" class="signup-form">

      <div style="display: flex">
        <div class="form-field form-field-mr-2">
          <label for="username">Username</label>
          <input class="input-field" formControlName="username" id="username" name="username" required type="text">
          <div
            *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || signUpForm.controls['username'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['username'].errors?.required">
              Username is required.
            </div>
            <div *ngIf="signUpForm.controls['username'].errors?.maxlength">
              Username must have max 20 characters.
            </div>
            <div *ngIf="signUpForm.controls['username'].errors?.pattern">
              Please enter unicode characters and at least 3 characters!
            </div>
          </div>
        </div>

        <div class="form-field form-field-ml-2">
          <label for="name">Name</label>
          <input class="input-field" formControlName="name" id="name" name="name" required type="text">
          <div
            *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['name'].errors?.required">
              Name is required.
            </div>
            <div *ngIf="signUpForm.controls['name'].errors?.maxlength">
              Username must have max 30 characters.
            </div>
          </div>
        </div>
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input class="input-field" formControlName="email" id="email" name="email" required type="email">
        <div
          *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)"
          class="alert">
          <div *ngIf="signUpForm.controls['email'].errors?.required">
            Email is required.
          </div>
          <div *ngIf="signUpForm.controls['email'].errors?.email">
            Please enter a valid email.
          </div>
        </div>
      </div>


      <div style="display: flex">
        <div class="form-field form-field-mr-2">
          <label for="password">Password</label>
          <div class="password-field">
            <input [type]="passwordShow ? 'text' : 'password'" class="input-field" formControlName="password"
                   id="password" required>
            <div (click)="switchPassword()" class="show">{{ passwordShow ? 'Hide' : 'Show' }}</div>
          </div>
          <div
            *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['password'].errors?.required">
              Password is required.
            </div>
            <div *ngIf="signUpForm.controls['password'].errors?.minlength">
              Password must be at least 8 characters!
            </div>
            <div *ngIf="signUpForm.controls['password'].errors?.pattern">
              Please enter required uppercase, lowercase letters, numbers and special characters!
            </div>
          </div>
        </div>

        <div class="form-field form-field-ml-2">
          <label for="confirm">Confirm</label>
          <div class="password-field">
            <input [type]="passwordShow ? 'text' : 'password'" class="input-field" formControlName="confirm"
                   id="confirm" required>
            <div (click)="switchPassword()" class="show">{{ passwordShow ? 'Hide' : 'Show' }}</div>
          </div>
          <div
            *ngIf="signUpForm.controls['confirm'].invalid && (signUpForm.controls['confirm'].dirty || signUpForm.controls['confirm'].touched)"
            class="alert">
            <div *ngIf="signUpForm.controls['confirm'].errors?.required">
              Please confirm your password.
            </div>
            <div *ngIf="signUpForm.controls['confirm'].errors?.mustMatch">
              Passwords must match.
            </div>
          </div>
        </div>
      </div>

      <!--      Actions Block-->
      <div class="actions-block">
        <button [disabled]="!signUpForm.valid" class="btn-submit" type="submit">Create a new account</button>
      </div>

    </form>
  </div>
</div>
