<div class="new-password-container">
  <div class="new-password-block">
    <div class="title">New Password</div>
    <div class="sub-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>

    <form class="new-password-form" [formGroup]="newPWForm" (ngSubmit)="onSubmit()">
      <ng-container *ngTemplateOutlet="passwordField, context: {controlName: 'password'}"></ng-container>
      <ng-container *ngTemplateOutlet="passwordField, context: {controlName: 'confirm'}"></ng-container>

      <!--      Submit-->
      <button class="btn-submit" [disabled]="newPWForm.invalid" type="submit">Submit</button>
    </form>
  </div>
</div>


<ng-template #passwordField let-controlName='controlName'>
  <div class="form-field" [formGroup]="newPWForm">
    <label [for]="controlName">{{ controlName | titlecase }}</label>
    <div class="password-field">
      <input [id]="controlName" [formControlName]="controlName" placeholder="Must have at least 8 characters" required [type]="showPassword ? 'text' : 'password'" >
      <button class="show" (click)="showPassword = !showPassword" type="button">{{ showPassword ? 'Hidden' : 'Show' }}</button>
    </div>
  </div>
</ng-template>
