@import "mixins";

.new-password-container {
  @apply h-full w-full relative bg-white;
  @include alignCenter();

  .new-password-block {
    @apply w-2/5 px-8 pb-8 pt-16 rounded-xl;

    .title {
      @apply text-3xl mb-4 font-semibold tracking-wider text-gray-900;
    }

    .sub-text {
      @apply text-base my-2 font-light tracking-widest;
    }

    .form-field {
      @apply py-2;

      label {
        @apply text-base ml-2 font-semibold tracking-wider text-gray-900;
      }

      .password-field {
        @apply relative w-full;
        @include alignCenter();

        input {
          @include grayFormField();
        }

        .show {
          @apply absolute font-semibold tracking-wider z-10 mx-2 right-0 focus:outline-none;
        }
      }
    }

    .btn-submit {
      @apply text-base font-semibold tracking-widest text-white;
      @apply w-full bg-pink-600 rounded-lg mt-4 py-2;
      @apply transition duration-500 ease-in-out;
      @apply transform hover:scale-105 focus:outline-none focus:shadow;
    }
  }
}
