<div class="sign-container">

  <!--  Direct to sign up-->
  <div class="direct-option">
    <div class="sub-text">Not a member?</div>
    <div class="dir-signup" routerLink="../signup">Signup Now</div>
  </div>

  <!--  Sign In block-->
  <div class="signin-block">

    <!--    Logo-->
    <div class="top-block">
      <img src="./assets/brand.svg" alt="">
      <div class="title-form">Sign In to {{ brand }}</div>
    </div>


    <!--    Main form login-->
    <form (ngSubmit)="login()" [formGroup]="signInForm" class="signin-form">

      <!--      Email-->
      <div class="form-field">
        <label for="email">Email</label>
        <input class="input-field" formControlName="email" id="email" name="email" required type="email">
        <div
          *ngIf="signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)"
          class="alert">
          <div *ngIf="signInForm.controls['email'].errors?.required">
            Email is required.
          </div>
          <div *ngIf="signInForm.controls['email'].errors?.email">
            This input must be a email!
          </div>
        </div>
      </div>

      <!--      Password-->
      <div class="form-field">
        <label for="password">Password</label>
        <div class="password-field">
          <input [type]="passwordShow ? 'text' : 'password'" class="input-field" formControlName="password"
                 id="password" required>
          <div (click)="switchPassword()" class="show">{{ passwordShow ? 'Hide' : 'Show' }}</div>
        </div>
        <div
          *ngIf="signInForm.controls['password'].invalid && (signInForm.controls['password'].dirty || signInForm.controls['password'].touched)"
          class="alert">
          <div *ngIf="signInForm.controls['password'].errors?.required">
            Password is required.
          </div>
          <div *ngIf="signInForm.controls['password'].errors?.minlength">
            Password must be at least 8 characters!
          </div>
          <div *ngIf="signInForm.controls['password'].errors?.pattern">
            Please enter required uppercase, lowercase letters, numbers and special characters!
          </div>
        </div>
      </div>

      <div class="actions-block">
        <button [disabled]="signInForm.invalid" class="btn" type="submit">Login</button>
        <div (click)="openDialog()" class="forgot">Forgot password?</div>
      </div>

    </form>
  </div>
</div>

<!--Angular templates-->

